@mixin d-flex-align-center {
    display: flex;
    align-items: center;
}

@mixin d-flex-align-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin center {
    width: 80%;
    margin: auto;
}