//General colors
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-primary: #0888CC;

//Background colors
$color-background-1: #F7F7F7;
$color-background-2: #D6D6D6;
$color-background-3: #CCCCCC;
$color-background-4: #0074AD;
$color-background-5: #404040;
$color-background-6: #212529;
$color-background-7: #212529CC;
$color-background-8: #1C2023;
$color-background-9: #17171740;
$color-background-10: #00000008;

//Text colors
$color-text-1: #B7B7B7;
$color-text-2: #888888;
$color-text-3: #777777;
$color-text-4: #555555;
$color-text-5: #444444;
$color-text-6: #333333;
$color-text-7: #212529;

//Border colors
$color-border-1: #F7F7F7;
$color-border-2: #EEEEEE;
$color-border-3: #EDEDED;
$color-border-4: #E2E2E2;
$color-border-5: #D9D9D9;
$color-border-6: #BFBFBF;
$color-border-7: #005580;
$color-border-8: #212529;
$color-border-9: #0A0C0D;
$color-border-10: #0000000F;